h4 #{Constants[Enums.Positions.STRIKER]} or #{Constants[Enums.Positions.JACK]} only
p
    | The player attempts to take the ball from an opponent.
    | A #{Constants[Enums.Positions.STRIKER]} may take a full 
    a(href="/actions/#{Enums.Actions.RUN}") #{Constants[Enums.Actions.RUN]} 
    | action as part of a #{Constants[Enums.Actions.STEAL]} attempt, and may 
    a(href="/actions/#{Enums.Actions.DASH}") #{Constants[Enums.Actions.DASH]} 
    | if they choose to do so.
    | A #{Constants[Enums.Positions.JACK]} 
    | may move up to 1 hex before making a #{Constants[Enums.Actions.STEAL]}, turning 
    | for free if they wish, but may not #{Constants[Enums.Actions.DASH]} 
    | unless they have the 
    a(href="/actions/#{Enums.Abilities.SLIDE}") #{Constants[Enums.Abilities.SLIDE]} 
    | ability.

h5 #{Constants[Enums.Actions.steal]} is a 3 dice Speed test (1)
ul
    li +1 if the player is a #{Constants[Enums.Positions.STRIKER]}.
    li -1 per opposing player threatening the hex the player is in (ignoring the target, maximum of -2).

p
    | The target may attempt to 
    a(href="/actions/#{Enums.Actions.DODGE}") #{Constants[Enums.Actions.DODGE]} 
    | or 
    a(href="/actions/#{Enums.Actions.SLAMBACK}") #{Constants[Enums.Actions.SLAMBACK]} 
    | in response to this action.

table.table.table-striped
    tr
        td #{Constants[Enums.Actions.STEAL]} succeeds
        td The ball is knocked out of the target's hands and scatters immediately.
    tr
        td #{Constants[Enums.Actions.STEAL]} doubles
        td The player gains posession of the ball.
