h4 Any player
p
    | In Dreadball, the armor a player wears is a function of their role on the 
    | pitch, and the maximum levels of protection are laid down by the DGB. Consequently 
    | every #{Constants[Enums.Positions.JACK]} has the same armor value, whichever side 
    | they are on. The same is true for every #{Constants[Enums.Positions.STRIKER]}, 
    | every #{Constants[Enums.Positions.GUARD]}. Players with the 
    a(href="/actions/#{Enums.Abilities.KEEPER}") #{Constants[Enums.Abilities.KEEPER]} 
    | ability get slightly enhanced armor.

h5 #{Constants[Enums.Actions.ARMOR_CHECK]} is a 3 dice Armor test (x)
ul
    li +1 if the player is a #{Constants[Enums.Positions.GUARD]}.
p
    | Each successful roll cancels out one point of damage the player would have 
    | taken otherwise. If the total number of successes equals or beats the amount 
    | of damage inflicted the the player is unharmed. If not all damage has been 
    | deflected then the player is injured and sent off the pitch to recover. 
    | The number of turns the player needs to recover (and the part of the Sin Bin 
    | into which they're placed) is equal to the amount of unsaved damage. If that 
    | amount is 4 or more, then the player has been killed and is removed from the
    | game.
