h4 Any player
p
    | A player who has been knocked down may spend an action and attempt to 
    | #{Constants[Enums.Actions.STAND_UP]}.

h5 #{Constants[Enums.Actions.STAND_UP]} is a 3 dice Speed test (x)
ul
    li +1 if the player is a #{Constants[Enums.Positions.GUARD]}.
table.table.table-striped
    tr
        td #{Constants[Enums.Actions.STAND_UP]} fails
        td The player remains on the floor where they were.
    tr
        td #{Constants[Enums.Actions.STAND_UP]} succeeds
        td The player stands up in the hex they were in, facing any direction.
    tr
        td #{Constants[Enums.Actions.STAND_UP]} doubles
        td 
            | The player also gets a an immediate free action. This action may 
            em not 
            | be a 
            a(href="/actions/#{Enums.Actions.SPRINT}") #{Constants[Enums.Actions.SPRINT]}
            | .
