h4 #{Constants[Enums.Positions.GUARD]} or #{Constants[Enums.Positions.JACK]} only
p
    | A player with this ability may not be knocked down as the result of a 
    a(href="/actions/#{Enums.Actions.SLAM}") #{Constants[Enums.Actions.SLAM]}
    |. The player may still be pushed back or injured, and must still make an 
    a(href="/actions/#{Enums.Actions.ARMOR_CHECK}") #{Constants[Enums.Actions.ARMOR_CHECK]} 
    | if the #{Constants[Enums.Actions.SLAM]} attempt is doubled.
p
    | Note that a player with #{Constants[Enums.Actions.SLAM]} can still fall 
    | down on their own, e.g. if they fail an attempt to 
    a(href="/actions/#{Enums.Actions.DASH}") #{Constants[Enums.Actions.DASH]} 
    | or 
    a(href="/actions/#{Enums.Actions.EVADE}") #{Constants[Enums.Actions.EVADE]} 