h4 #{Constants[Enums.Positions.STRIKER]} or #{Constants[Enums.Positions.JACK]} only
p
    | A player with this ability gets the 
    a(href="/actions/#{Enums.Actions.FEINT}") #{Constants[Enums.Actions.FEINT]} 
    | action.
p
    | For more information visit the  
    a(href="/actions/#{Enums.Actions.FEINT}") #{Constants[Enums.Actions.FEINT]} page.