if player
      dl.player.clearfix
            dt.player-name.em: dfn= player.name
            dd.player-race.tiny-text= Constants[player.race]
            dd(class="player-position #{Constants[player.position]}"): span= Constants[player.position]
            dd.player-number.large-text= player.number
            dd.player-move= player.move
            dd.player-strength= player.strength
            dd.player-speed= player.speed
            dd.player-skill= player.skill
            dd.player-armor= player.armor