extends layout

block content

    div(role="main")
        div.container

            div.row

                div.col-lg-12
                    unless team
                        section.team
                        -each team in  Enums.Teams
                            ul
                                a(href='/teams/#{team}')  #{Constants[team]}
                        // include errors/404.jade
                    else
                        section.team
                            h2= team.name
                            div
                                small #{team.cards} Cards / 
                                small #{team.dice} Coaching Die / 
                                small M&#8354; #{team.cash}

                            - var roster = team.players
                            if roster
                                section.roster

                                    table.table.table-striped.table-condensed
                                        thead
                                            tr
                                                th(colspan="2")
                                                    small.visible-sm Position
                                                    span.visible-md Position
                                                    span.visible-lg Position
                                                th.hidden-sm.text-center
                                                    small.visible-sm Xp
                                                    span.visible-md Xp
                                                    span.visible-lg Exp
                                                th.hidden-sm.text-center
                                                    small.visible-sm Rn
                                                    span.visible-md Rn
                                                    span.visible-lg Rank
                                                th.text-center
                                                    small.visible-sm Mv
                                                    span.visible-md Mv
                                                    span.visible-lg Move
                                                th.text-center
                                                    small.visible-sm St
                                                    span.visible-md St
                                                    span.visible-lg Strength
                                                th.text-center
                                                    small.visible-sm Sp
                                                    span.visible-md Sp
                                                    span.visible-lg Speed
                                                th.text-center
                                                    small.visible-sm Sk
                                                    span.visible-md Sk
                                                    span.visible-lg Skill
                                                th.text-center
                                                    small.visible-sm Ar
                                                    span.visible-md Ar
                                                    span.visible-lg Armor
                                                th.text-right
                                                    small.visible-sm M&#8354;
                                                    span.hidden-sm M&#8354;
                                            -each player in roster
                                                tbody.player
                                                    tr.player-stats
                                                        td 
                                                            span #{player.number}
                                                        td(class="player-position #{Constants[player.position]}")
                                                            span.capitalized #{Constants[player.position]}
                                                        td.hidden-sm.text-center.player-exp= player.experience
                                                        td.hidden-sm.text-center.player-rank= player.rank
                                                        td.text-center.player-move= player.move
                                                        td.text-center.player-strength= player.strength
                                                        td.text-center.player-speed= player.speed
                                                        td.text-center.player-skill= player.skill
                                                        td.text-center.player-armor= player.armor
                                                        td.text-right.player-value= player.cost
                                                    tr.player-abilities
                                                        td(colspan=11): small Abilities:
                                                            if player.abilities.length > 0
                                                                each ability, index in player.abilities
                                                                    if index > 0
                                                                        |,&nbsp;
                                                                    else
                                                                        | &nbsp;
                                                                    a(href="/abilities/#{ability}") #{Constants[ability]}
                                                            else
                                                                em.text-muted &nbsp;None
